<!--<div class="row text-center">-->
  <!--<div class="col-lg-4 col-12 alert alert-success mx-auto fs-14" role="alert" *ngIf="successMsg">-->
    <!--<button class="close" data-dismiss="alert"></button>-->
    <!--<strong> {{successMsg}}</strong>-->
  <!--</div>-->
<!--</div>-->

<!--<div class="row text-center">-->
  <!--<div class="col-lg-4 col-12 alert alert-danger mx-auto fs-14" role="alert" *ngIf="errorMsg">-->
    <!--<button class="close" data-dismiss="alert"></button>-->
    <!--<strong> {{errorMsg}}</strong>-->
  <!--</div>-->
<!--</div>-->

<!-- Content Header (Page header) -->
  <section class="content-header">
    <h1>
      News
    </h1>
    <ol class="breadcrumb">
      <li><a routerLink="/dashboard"><i class="fa fa-dashboard"></i> Home</a></li>
      <li><a routerLink="/news">News</a></li>
      <li class="active">Create</li>
    </ol>
  </section>

  <!-- Main content -->
<div class="loader" [hidden]="!loading"></div>

  <section class="content">
    <div class="row">
      <!-- left column -->
      <div class="col-md-12">
        <!-- general form elements -->
        <div class="box box-primary">
          <div class="box-header with-border">
            <h3 class="box-title">Create New Feed</h3>
          </div>
          <!-- /.box-header -->
          <!-- form start -->
          <form id="form-news" class="p-t-15" role="form" [formGroup]="form" (ngSubmit)="create()">
            <div class="box-body">
              <div class="form-group">
                <label for="exampleInputEmail1">Title</label>
                <input formControlName="title" class="form-control" id="exampleInputEmail1" placeholder="Enter Title">
              </div>
              <div class="form-group">
                <label for="exampleInputEmail1">Tags</label>
                <input formControlName="tags" class="form-control" placeholder="Enter Tags separated comma">
              </div>
              <div class="form-group">
                <label>Description</label>
                <input formControlName="description" class="form-control" placeholder="Enter Description">
                <!--<angular-editor formControlName="description" [config]="editorConfig"></angular-editor>-->
              </div>
              <label>Upload Image</label>
              <div class="form-group">
                <img *ngFor='let url of urls'  [src]="url" height="200"> <br/>
                <input type='file' (change)="onFileChanged($event)" multiple>
              </div>
              <div class="form-group">
                <label>Segment</label>
                <select formControlName="segment" class="form-control">
                  <option [value]="segment.code" *ngFor="let segment of segments">
                    {{segment.color}}</option>
                </select>
              </div>
              <div class="form-group">
                <label class="hover">
                  <div class="icheckbox_flat-green hover" [ngClass]="{'checked': pinned}" aria-checked="true" aria-disabled="false" style="position: relative;"><input [checked]="pinned" (change)="pinned = !pinned" [value]='pinned' type="checkbox" class="flat-red" checked="" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins></div>
                  Pin to dashboard
                </label>
              </div>
              <div class="form-group">
                <label class="hover">
                  <div class="icheckbox_flat-green hover" [ngClass]="{'checked': is_active}" aria-checked="true" aria-disabled="false" style="position: relative;"><input [checked]="is_active" (change)="is_active = !is_active" [value]='is_active' type="checkbox" class="flat-red" checked="" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins></div>
                  Active
                </label>
              </div>
            </div>
            <!-- /.box-body -->

            <div class="box-footer">
              <button type="submit" class="btn btn-primary">Save</button>
            </div>
          </form>
        </div>
        <!-- /.box -->

      </div>
      <!--/.col (left) -->
    </div>
    <!-- /.row -->
  </section>
  <!-- /.content -->
<script>
  $(function () {
    //Initialize Select2 Elements
    $('.select2').select2()

    //Datemask dd/mm/yyyy
    $('#datemask').inputmask('dd/mm/yyyy', { 'placeholder': 'dd/mm/yyyy' })
    //Datemask2 mm/dd/yyyy
    $('#datemask2').inputmask('mm/dd/yyyy', { 'placeholder': 'mm/dd/yyyy' })
    //Money Euro
    $('[data-mask]').inputmask()

    //Date range picker
    $('#reservation').daterangepicker()
    //Date range picker with time picker
    $('#reservationtime').daterangepicker({ timePicker: true, timePickerIncrement: 30, format: 'MM/DD/YYYY h:mm A' })
    //Date range as a button
    $('#daterange-btn').daterangepicker(
      {
        ranges   : {
          'Today'       : [moment(), moment()],
          'Yesterday'   : [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
          'Last 7 Days' : [moment().subtract(6, 'days'), moment()],
          'Last 30 Days': [moment().subtract(29, 'days'), moment()],
          'This Month'  : [moment().startOf('month'), moment().endOf('month')],
          'Last Month'  : [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
        },
        startDate: moment().subtract(29, 'days'),
        endDate  : moment()
      },
      function (start, end) {
        $('#daterange-btn span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'))
      }
    )

    //Date picker
    $('#datepicker').datepicker({
      autoclose: true
    })

    //iCheck for checkbox and radio inputs
    $('input[type="checkbox"].minimal, input[type="radio"].minimal').iCheck({
      checkboxClass: 'icheckbox_minimal-blue',
      radioClass   : 'iradio_minimal-blue'
    })
    //Red color scheme for iCheck
    $('input[type="checkbox"].minimal-red, input[type="radio"].minimal-red').iCheck({
      checkboxClass: 'icheckbox_minimal-red',
      radioClass   : 'iradio_minimal-red'
    })
    //Flat red color scheme for iCheck
    $('input[type="checkbox"].flat-red, input[type="radio"].flat-red').iCheck({
      checkboxClass: 'icheckbox_flat-green',
      radioClass   : 'iradio_flat-green'
    })

    //Colorpicker
    $('.my-colorpicker1').colorpicker()
    //color picker with addon
    $('.my-colorpicker2').colorpicker()

    //Timepicker
    $('.timepicker').timepicker({
      showInputs: false
    })
  })
</script>
