<style>
  .btn {
    background-color: DodgerBlue; /* Blue background */
    border: none; /* Remove borders */
    color: white; /* White text */
    font-size: 10px; /* Set a font size */
    cursor: pointer; /* Mouse pointer on hover */
  }

  /* Darker background on mouse-over */
  .btn:hover {
    background-color: RoyalBlue;
  }

  .loader {
    position: absolute;
    left: 50%;
    top: 50%;
    height:60px;
    width:60px;
    margin:0px auto;
    -webkit-animation: rotation .6s infinite linear;
    -moz-animation: rotation .6s infinite linear;
    -o-animation: rotation .6s infinite linear;
    animation: rotation .6s infinite linear;
    border-left:6px solid rgba(0,174,239,.15);
    border-right:6px solid rgba(0,174,239,.15);
    border-bottom:6px solid rgba(0,174,239,.15);
    border-top:6px solid rgba(0,174,239,.8);
    border-radius:100%;
  }

  @-webkit-keyframes rotation {
    from {-webkit-transform: rotate(0deg);}
    to {-webkit-transform: rotate(359deg);}
  }
  @-moz-keyframes rotation {
    from {-moz-transform: rotate(0deg);}
    to {-moz-transform: rotate(359deg);}
  }
  @-o-keyframes rotation {
    from {-o-transform: rotate(0deg);}
    to {-o-transform: rotate(359deg);}
  }
  @keyframes rotation {
    from {transform: rotate(0deg);}
    to {transform: rotate(359deg);}
  }
</style>
<!--<div class="row text-center">-->
<!--<div class="col-lg-4 col-12 alert alert-success mx-auto fs-14" role="alert" *ngIf="successMsg">-->
<!--<button class="close" data-dismiss="alert"></button>-->
<!--<strong> {{successMsg}}</strong>-->
<!--</div>-->
<!--</div>-->

<!--<div class="row text-center">-->
<!--<div class="col-lg-4 col-12 alert alert-danger mx-auto fs-14" role="alert" *ngIf="errorMsg">-->
<!--<button class="close" data-dismiss="alert"></button>-->
<!--<strong> {{errorMsg}}</strong>-->
<!--</div>-->
<!--</div>-->
<!-- Content Header (Page header) -->
  <section class="content-header">
    <h1>
      News <button routerLink="/news/create-news" type="submit" class="btn btn-primary pull-right">New</button>
    </h1>
    <ol class="breadcrumb">
      <li><a routerLink="/dashboard"><i class="fa fa-dashboard"></i> Home</a></li>
      <li><a routerLink="/news">News</a></li>
    </ol>
  </section>

  <!-- Main content -->
<div class="loader" [hidden]="!loading"></div>
  <section class="content">
    <!-- /.row -->
    <div class="row">
      <div class="col-xs-12">
        <div class="box">
          <div class="box-header">
            <h3 class="box-title"></h3>

            <div class="box-tools">
              <div class="input-group input-group-sm" style="width: 150px;">
                <input (ngModelChange)="filter($event)" [(ngModel)]="nameFilter"  type="text" name="table_search" class="form-control pull-right" placeholder="Search">

                <div class="input-group-btn">
                  <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                </div>
              </div>
            </div>
          </div>
          <!-- /.box-header -->
          <div class="box-body table-responsive no-padding">
            <table class="table table-hover">
              <thead>
              <tr>
                <th>Title</th>
                <th>Description</th>
                <th>Status</th>
                <th>Pinned</th>
                <th>Edit/Delete</th>
                <!--<th>Pinned</th>-->
                <!--<th>Interactions</th>-->
              </tr>
              </thead>
              <tbody>
              <!--ui-sref="app.supplier.customer.detail({customerId:customer._id})"-->
              <tr *ngFor="let new of news | paginate: {itemsPerPage: this.limit, currentPage: this.pageNo, totalItems: this.totalPages}" class="gradeX odd content-table-payment cursor" role="row">
                <td class="mn-130 sorting_1">{{new.title}}</td>
                <td class="mn-130 sorting_1">{{new.description.substring(1,15)}}.....</td>
                <td class="mn-120 sorting_1">
                  <span *ngIf="new.is_active === true"
                        class="label label-success upper-case">Active</span>
                  <span *ngIf="new.is_active === false"
                        class="label label-danger upper-case">InActive</span>
                </td>
                <td class="mn-120 sorting_1">
                  <span *ngIf="new.pinned === true"
                        class="label label-success upper-case">Pinned</span>
                  <span *ngIf="new.pinned === false"
                        class="label label-danger upper-case">Pinned</span>
                </td>
                <td>
                  <button class="btn" routerLink='/news/{{new._id}}/edit-news'><i class="fa fa-edit"></i></button>
                  <button class="btn" (click)="delete(new._id)"><i class="fa fa-trash"></i></button>
                </td>
              </tr>
              </tbody>
              <pagination-controls (pageChange)="pageChanged($event)"></pagination-controls>
            </table>
            <!--<list-pagination total-pages="$ctrl.totalPages" on-page-click="$ctrl.setPage(pageNumber)" current-page="$ctrl.currentPage"></list-pagination>-->
          </div>
          <!-- /.box-body -->
        </div>
        <!-- /.box -->
      </div>
    </div>
  </section>
  <!-- /.content -->
