
<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
    Staff
  </h1>
  <ol class="breadcrumb">
    <li><a routerLink="/dashboard"><i class="fa fa-dashboard"></i> Home</a></li>
    <li><a routerLink="/staff">Staff</a></li>
    <li class="active">Edit</li>
  </ol>
</section>

<!-- Main content -->
<div class="loader" [hidden]="!loading"></div>
<section class="content">
  <div class="row">
    <!-- left column -->
    <div class="col-md-12">
      <!-- general form elements -->
      <div class="box box-primary">
        <div class="box-header with-border">
          <h3 class="box-title">Edit Staff</h3>
        </div>
        <!-- /.box-header -->
        <!-- form start -->
        <form id="form-jobs" class="p-t-15" role="form" [formGroup]="form" (ngSubmit)="update()">
          <div class="box-body">
            <div class="form-group has-feedback">
              <label for="exampleInputEmail1">Email</label>
              <input type="email" formControlName="email" class="form-control" id="exampleInputEmail1" placeholder="Enter Email">
              <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
            </div>
            <div class="form-group has-feedback">
              <label for="exampleInputPassword">Password</label>
              <input type="password" formControlName="password" class="form-control" id="exampleInputPassword" placeholder="Enter Password">
              <span class="glyphicon glyphicon-lock form-control-feedback"></span>
            </div>
            <div class="form-group has-feedback">
              <label for="exampleInputFirstName">First Name</label>
              <input type="text" formControlName="first_name" class="form-control" id="exampleInputFirstName" placeholder="Enter First Name">
              <span class="glyphicon glyphicon-user form-control-feedback"></span>
            </div>
            <div class="form-group has-feedback">
              <label for="exampleInputLastName">Last Name</label>
              <input type="text" formControlName="last_name" class="form-control" id="exampleInputLastName" placeholder="Enter Last Name">
              <span class="glyphicon glyphicon-user form-control-feedback"></span>
            </div>
            <div class="form-group has-feedback">
              <label>Mobile</label>
              <input type="text" formControlName="mobile" class="form-control" placeholder="Enter Mobile">
              <span class="glyphicon glyphicon-phone form-control-feedback"></span>
            </div>
            <div class="form-group has-feedback">
              <label>Linkedin Url</label>
              <input type="text" formControlName="linkedinUrl" class="form-control" placeholder="Enter Linkedin Url">
              <span class="glyphicon glyphicon-phone form-control-feedback"></span>
            </div>
            <div class="form-group col-xs-4">
              <label class="hover">
                <div class="icheckbox_flat-green hover" [ngClass]="{'checked': roles[0].checked}" aria-checked="true" aria-disabled="false" style="position: relative;"><input [checked]="roles[0].checked" (change)="roles[0].checked = !roles[0].checked" [value]='roles[0].checked' type="checkbox" class="flat-red" checked="" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins></div>
                Programs
              </label>
            </div>
            <div class="form-group col-xs-4">
              <label class="hover">
                <div class="icheckbox_flat-green hover" [ngClass]="{'checked': roles[1].checked}" aria-checked="true" aria-disabled="false" style="position: relative;"><input [checked]="roles[1].checked" (change)="roles[1].checked = !roles[1].checked" [value]='roles[1].checked' type="checkbox" class="flat-red" checked="" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins></div>
                News
              </label>
            </div>
            <div class="form-group col-xs-4">
              <label class="hover">
                <div class="icheckbox_flat-green hover" [ngClass]="{'checked': roles[2].checked}" aria-checked="true" aria-disabled="false" style="position: relative;"><input [checked]="roles[2].checked" (change)="roles[2].checked = !roles[2].checked" [value]='roles[2].checked' type="checkbox" class="flat-red" checked="" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins></div>
                Jobs
              </label>
            </div>
            <div class="form-group col-xs-4">
              <label class="hover">
                <div class="icheckbox_flat-green hover" [ngClass]="{'checked': roles[3].checked}" aria-checked="true" aria-disabled="false" style="position: relative;"><input [checked]="roles[3].checked" (change)="roles[3].checked = !roles[3].checked" [value]='roles[3].checked' type="checkbox" class="flat-red" checked="" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins></div>
                Events
              </label>
            </div>
            <div class="form-group col-xs-4">
              <label class="hover">
                <div class="icheckbox_flat-green hover" [ngClass]="{'checked': roles[4].checked}" aria-checked="true" aria-disabled="false" style="position: relative;"><input [checked]="roles[4].checked" (change)="roles[4].checked = !roles[4].checked" [value]='roles[4].checked' type="checkbox" class="flat-red" checked="" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins></div>
                Staff
              </label>
            </div>
            <div class="form-group col-xs-4">
              <label class="hover">
                <div class="icheckbox_flat-green hover" [ngClass]="{'checked': roles[5].checked}" aria-checked="true" aria-disabled="false" style="position: relative;"><input [checked]="roles[5].checked" (change)="roles[5].checked = !roles[5].checked" [value]='roles[5].checked' type="checkbox" class="flat-red" checked="" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins></div>
                Users
              </label>
            </div>
            <div class="form-group col-xs-4">
              <label class="hover">
                <div class="icheckbox_flat-green hover" [ngClass]="{'checked': roles[6].checked}" aria-checked="true" aria-disabled="false" style="position: relative;"><input [checked]="roles[6].checked" (change)="roles[6].checked = !roles[6].checked" [value]='roles[6].checked' type="checkbox" class="flat-red" checked="" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins></div>
                Services
              </label>
            </div>
            <div class="form-group col-xs-4">
              <label class="hover">
                <div class="icheckbox_flat-green hover" [ngClass]="{'checked': roles[7].checked}" aria-checked="true" aria-disabled="false" style="position: relative;"><input [checked]="roles[7].checked" (change)="roles[7].checked = !roles[7].checked" [value]='roles[7].checked' type="checkbox" class="flat-red" checked="" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins></div>
                Partners
              </label>
            </div>
            <div class="form-group col-xs-4">
              <label class="hover">
                <div class="icheckbox_flat-green hover" [ngClass]="{'checked': roles[8].checked}" aria-checked="true" aria-disabled="false" style="position: relative;"><input [checked]="roles[8].checked" (change)="roles[8].checked = !roles[8].checked" [value]='roles[8].checked' type="checkbox" class="flat-red" checked="" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins></div>
                Team Members
              </label>
            </div>
            <div class="form-group col-xs-4">
              <label class="hover">
                <div class="icheckbox_flat-green hover" [ngClass]="{'checked': roles[9].checked}" aria-checked="true" aria-disabled="false" style="position: relative;"><input [checked]="roles[9].checked" (change)="roles[9].checked = !roles[9].checked" [value]='roles[9].checked' type="checkbox" class="flat-red" checked="" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins></div>
                Contents
              </label>
            </div>
            <div class="form-group col-xs-8">
              <label class="hover">
                <div class="icheckbox_flat-green hover" [ngClass]="{'checked': roles[10].checked}" aria-checked="true" aria-disabled="false" style="position: relative;"><input [checked]="roles[10].checked" (change)="roles[10].checked = !roles[10].checked" [value]='roles[10].checked' type="checkbox" class="flat-red" checked="" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins></div>
                Applications
              </label>
            </div>
            <div class="form-group">
              <label>Gender</label>
              <select formControlName="gender" class="form-control">
                <option [value]="gender" *ngFor="let gender of genders">
                  {{gender}}</option>
              </select>
            </div>
            <div class="form-group">
              <label>Type</label>
              <select formControlName="type" class="form-control">
                <option [value]="type" *ngFor="let type of types">
                  {{type}}</option>
              </select>
            </div>
            <label>Upload Image</label>
            <div class="form-group">
              <img *ngFor='let url of urls'  [src]="url" height="200"> <br/>
              <input type='file' (change)="onFileChanged($event)" multiple>
            </div>
            <div class="form-group">
              <label class="hover">
                <div class="icheckbox_flat-green hover" [ngClass]="{'checked': pinned}" aria-checked="true" aria-disabled="false" style="position: relative;"><input [checked]="pinned" (change)="pinned = !pinned" [value]='pinned' type="checkbox" class="flat-red" checked="" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins></div>
                Pin to dashboard
              </label>
            </div>
            <div class="form-group">
              <label class="hover">
                <div class="icheckbox_flat-green hover" [ngClass]="{'checked': is_active}" aria-checked="true" aria-disabled="false" style="position: relative;"><input [checked]="is_active" (change)="is_active = !is_active" [value]='is_active' type="checkbox" class="flat-red" checked="" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins></div>
                Active
              </label>
            </div>
          </div>
          <!-- /.box-body -->

          <div class="box-footer">
            <button type="submit" class="btn btn-primary">Save</button>
          </div>
        </form>
      </div>
      <!-- /.box -->

    </div>
    <!--/.col (left) -->
  </div>
  <!-- /.row -->
</section>
<!-- /.content -->
