<style>
  /* Container needed to position the button. Adjust the width as needed */
  .container {
    position: relative;
    width: 50%;
  }

  /* Make the image responsive */
  .container img {
    width: 100%;
    height: auto;
  }

  /* Style the button and place it in the middle of the container/image */
  .container .btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: transparent;
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }

  .container .btn:hover {
    background-color: #ffffff;
    opacity: .4;
  }
  .container .btn:hover {
    color: black;
  }
</style>
<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
    Contents
  </h1>
  <ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
    <li><a href="#">Contents</a></li>
  </ol>
</section>

<!-- Main content -->
<section class="content">
  <div class="row">
    <!-- left column -->
    <div class="col-md-12">
      <!-- general form elements -->
      <div class="box box-primary">
        <div class="box-header with-border">
          <h3 class="box-title">Add Slider</h3>
        </div>
        <!-- /.box-header -->
        <!-- form start -->
        <form id="form-slider-contents" class="p-t-15" role="form" [formGroup]="form" (ngSubmit)="uploadSlider()">
          <div class="box-body">
            <label for="exampleInputFile">Slider</label>
            <div class="form-group">
                <img *ngFor="let url1 of urls1" [src]="url1" height="200"><br/>
                <input type="file" (change)="onFileChanged1($event)" id="exampleInputFile" multiple>
            </div>
            <div class="form-group">
              <label for="sliderNumber">Slider Number</label>
              <input formControlName="index" class="form-control" id="sliderNumber" placeholder="Enter Tags separated comma">
            </div>
            <div class="form-group">
              <label>Comment</label>
              <input formControlName="comment" class="form-control" placeholder="Enter Comment">
            </div>
            <div class="form-group">
              <label>Button Text</label>
              <input formControlName="buttonText" class="form-control" placeholder="Enter Text">
            </div>
            <div class="form-group">
              <label>Link</label>
              <input formControlName="link" class="form-control" placeholder="Enter Link">
            </div>
          </div>
          <!-- /.box-body -->

          <div class="box-footer">
            <button type="button" class="btn btn-primary" (click)="uploadSlider()">Save</button>
          </div>
        </form>
      </div>
      <!-- /.box -->

    </div>
    <!--/.col (left) -->
  </div>
  <!-- /.row -->
</section>
<!-- /.content -->
<div *ngFor="let slider of sliders" class="content">
  <section class="content">
    <div class="row">
      <!-- left column -->
      <div class="col-md-12">
        <!-- general form elements -->
        <div class="box box-primary">
          <div class="box-header with-border">
            <h3 class="box-title">Slider {{slider.number}}</h3>
            <button class="btn btn-danger pull-right" (click)="deleteSliderImage(slider._id)" ><span class="glyphicon glyphicon-remove"></span></button>
          </div>
          <!-- /.box-header -->
          <!-- form start -->
            <div class="box-body">
              <label for="exampleInputFile">Slider</label>
              <div class="form-group">
                <div class="container">
                  <img src="{{imageRootUrl}}/{{slider.image}}" height="200">
                  <!--<button class="btn" (click)="deleteSliderImage(slider._id)"><i class="fa fa-trash"></i></button>-->
                </div>
              </div>
              <div class="form-group">
                <label>Comment</label>
                <input [(ngModel)]="slider.comment" class="form-control" placeholder="Enter Comment">
              </div>
              <div class="form-group">
                <label>Button Text</label>
                <input [(ngModel)]="slider.buttonText" class="form-control" placeholder="Enter Text">
              </div>
              <div class="form-group">
                <label>Link</label>
                <input [(ngModel)]="slider.link" class="form-control" placeholder="Enter Link">
              </div>
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->

      </div>
      <!--/.col (left) -->
    </div>
    <!-- /.row -->
  </section>
</div>

<section class="content">
  <div class="row">
    <!-- left column -->
    <div class="col-md-12">
      <!-- general form elements -->
      <div class="box box-primary">
        <div class="box-header with-border">
          <h3 class="box-title">Add Logo</h3>
        </div>
        <!-- /.box-header -->
        <!-- form start -->
        <form id="form-logo-contents" class="p-t-15" role="form" [formGroup]="form" (ngSubmit)="uploadLogo()">
          <div class="box-body">
            <label for="exampleInputFile2">Logo</label>
            <div class="form-group">
              <img *ngFor="let url2 of urls2" [src]="url2" height="200"><br/>
              <input type="file" (change)="onFileChanged2($event)" id="exampleInputFile2">
            </div>
            <div class="form-group">
              <label>Link</label>
              <input formControlName="link" class="form-control" placeholder="Enter Link">
            </div>
          </div>
          <!-- /.box-body -->

          <div class="box-footer">
            <button type="button" class="btn btn-primary" (click)="uploadLogo()">Save</button>
          </div>
        </form>
      </div>
      <!-- /.box -->

    </div>
    <!--/.col (left) -->
  </div>
  <!-- /.row -->
</section>

<div *ngFor="let logo of logos" class="content">
  <section class="content">
    <div class="row">
      <!-- left column -->
      <div class="col-md-12">
        <!-- general form elements -->
        <div class="box box-primary">
          <div class="box-header with-border">
            <h3 class="box-title">Logo {{logo.number}}</h3>
            <button class="btn btn-danger pull-right" (click)="deleteLogoImage(logo._id)"><span class="glyphicon glyphicon-remove"></span></button>
          </div>
          <!-- /.box-header -->
          <!-- form start -->
            <div class="box-body">
              <label for="exampleInputFile2">Logo</label>
              <div class="form-group">
                <img src="{{imageRootUrl}}/{{logo.image}}" height="200">
              </div>
              <div class="form-group">
                <label>Link</label>
                <input [value]="logo.link" class="form-control" placeholder="Enter Link">
              </div>
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->

      </div>
      <!--/.col (left) -->
    </div>
    <!-- /.row -->
  </section>
</div>


<!-- Extra content -->
<!--<section class="content">-->
  <!--<div class="row">-->
    <!--&lt;!&ndash; left column &ndash;&gt;-->
    <!--<div class="col-md-12">-->
      <!--&lt;!&ndash; general form elements &ndash;&gt;-->
      <!--<div class="box box-primary">-->
        <!--<div class="box-header with-border">-->
          <!--<h3 class="box-title">Extra Content Sections</h3>-->
        <!--</div>-->
        <!--&lt;!&ndash; /.box-header &ndash;&gt;-->
        <!--&lt;!&ndash; form start &ndash;&gt;-->
        <!--<form id="form-extra-sections-events" class="p-t-15" role="form" [formGroup]="form" (ngSubmit)="updateSections()">-->
          <!--<div class="box-body">-->
            <!--<div class="form-group">-->
              <!--<label>Description</label>-->
              <!--&lt;!&ndash;<textarea formControlName="extraDescription"></textarea>&ndash;&gt;-->
              <!--<angular-editor formControlName="extraDescription" [config]="editorConfig"></angular-editor>-->
            <!--</div>-->
            <!--<label for="exampleInputFile">Upload Image</label>-->
            <!--<div class="form-group">-->
              <!--<img *ngFor="let url of urls2" [src]="url" height="200"><br/>-->
              <!--<input type="file" (change)="onFileChanged2($event)" multiple>-->
            <!--</div>-->
          <!--</div>-->
          <!--&lt;!&ndash; /.box-body &ndash;&gt;-->

          <!--<div class="box-footer">-->
            <!--<button type="button" (click)="updateSections()" class="btn btn-primary">Save</button>-->
            <!--<button routerLink="/events" class="btn btn-primary pull-right">Back to List</button>-->
          <!--</div>-->
        <!--</form>-->
      <!--</div>-->
      <!--&lt;!&ndash; /.box &ndash;&gt;-->

    <!--</div>-->
    <!--&lt;!&ndash;/.col (left) &ndash;&gt;-->
  <!--</div>-->
  <!--&lt;!&ndash; /.row &ndash;&gt;-->
<!--</section>-->
<!-- /.content -->
