
<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
    Jobs <button routerLink="/jobs/{{this.jobId}}/questions" type="submit" class="btn btn-primary pull-right">Add Question</button>
  </h1>
  <ol class="breadcrumb">
    <li><a routerLink="/dashboard"><i class="fa fa-dashboard"></i> Home</a></li>
    <li><a routerLink="/jobs">Jobs</a></li>
    <li class="active">Edit</li>
  </ol>
</section>

<!-- Main content -->
<div class="loader" [hidden]="!loading"></div>

<section class="content">
  <div class="row">
    <!-- left column -->
    <div class="col-md-12">
      <!-- general form elements -->
      <div class="box box-primary">
        <div class="box-header with-border">
          <h3 class="box-title">Edit Job</h3>
        </div>
        <!-- /.box-header -->
        <!-- form start -->
        <form id="form-jobs" class="p-t-15" role="form" [formGroup]="form" (ngSubmit)="update()">
          <div class="box-body">
            <div class="form-group">
              <label for="exampleInputEmail1">Title</label>
              <input formControlName="title" class="form-control" id="exampleInputEmail1" placeholder="Enter Title">
            </div>
            <div class="form-group">
              <label>Description</label>
              <input formControlName="description" class="form-control" placeholder="Enter Description">
              <!--<angular-editor formControlName="description" [config]="editorConfig"></angular-editor>-->
            </div>
            <div class="form-group">
              <label>Validation Deadline</label>
              <div class="input-group date">
                <div class="input-group-addon">
                  <i class="fa fa-calendar"></i>
                </div>
                <input formControlName="deadline" class="form-control pull-right" id="datepicker">
              </div>
            </div>
            <div class="form-group">
              <label>Segment</label>
              <select formControlName="segment" class="form-control">
                <option [value]="segment.code" *ngFor="let segment of segments">
                  {{segment.text}}</option>
              </select>
            </div>
            <div class="form-group">
              <label>Category</label>
              <select formControlName="category" class="form-control">
                <option [value]="category" *ngFor="let category of categories">
                  {{category}}</option>
              </select>
            </div>
            <div class="form-group">
              <label class="hover">
                <div class="icheckbox_flat-green hover" [ngClass]="{'checked': pinned}" aria-checked="true" aria-disabled="false" style="position: relative;"><input [checked]="pinned" (change)="pinned = !pinned" [value]='pinned' type="checkbox" class="flat-red" checked="" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins></div>
                Pin to dashboard
              </label>
            </div>
            <div class="form-group">
              <label class="hover">
                <div class="icheckbox_flat-green hover" [ngClass]="{'checked': is_active}" aria-checked="true" aria-disabled="false" style="position: relative;"><input [checked]="is_active" (change)="is_active = !is_active" [value]='is_active' type="checkbox" class="flat-red" checked="" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins></div>
                Active
              </label>
            </div>
          </div>
          <!-- /.box-body -->

          <div class="box-footer">
            <button type="submit" class="btn btn-primary">Save</button>
          </div>
        </form>
      </div>
      <!-- /.box -->

    </div>
    <!--/.col (left) -->
  </div>
  <!-- /.row -->
</section>
<!-- /.content -->

<!-- Extra content -->
<section class="content">
  <div class="row">
    <!-- left column -->
    <div class="col-md-12">
      <!-- general form elements -->
      <div class="box box-primary">
        <form id="form-extra-sections-jobs" class="p-t-15" role="form" [formGroup]="form" (ngSubmit)="updateSections()">
          <div class="box-header with-border">
            <h3 class="box-title">Extra Sections</h3>
            <div class="form-group pull-right">
              <select formControlName="section" class="form-control" (change)="onSelectType(section)">
                <option [value]="section" *ngFor="let section of sections">
                  {{section}}</option>
              </select>
            </div>
          </div>
          <!-- /.box-header -->
          <!-- form start -->
          <div class="box-body">
            <div class="form-group" id="description" hidden="hidden">
              <label>Description</label>
              <!--<input formControlName="extraDescription" class="form-control" placeholder="Enter Title" multiple>-->
              <angular-editor formControlName="extraDescription" [config]="editorConfig"></angular-editor>
            </div>
            <div class="form-group" id="fileupload" hidden="hidden">
              <label for="exampleInputFile">Upload Image</label>
              <img *ngFor="let url of urls" [src]="url" height="200"><br/>
              <input type="file" (change)="onFileChanged($event)" multiple>
            </div>
          </div>
          <!-- /.box-body -->

          <div class="box-footer">
            <button type="submit" id="saveButton" class="btn btn-primary" disabled="disabled">Save</button>
            <button routerLink="/jobs" class="btn btn-primary pull-right">Back to List</button>
          </div>
        </form>
      </div>
      <!-- /.box -->

    </div>
    <!--/.col (left) -->
  </div>
  <!-- /.row -->
</section>
<!-- /.content -->

<!-- Listing Extra Content -->
<div *ngFor="let section of extraSections" id="sectionsDiv" class="content">
  <section class="content" *ngIf="section.description" style="min-height: 0px; padding: 0px;">
    <div class="row">
      <!-- left column -->
      <div class="col-md-12">
        <!-- general form elements -->
        <div class="box box-primary">
          <div class="box-header with-border">
            <h3 class="box-title">Description Section</h3>
            <button class="btn btn-danger pull-right"><span class="glyphicon glyphicon-remove" (click)="deleteSection(section._id)"></span></button>
          </div>
          <div class="box-body">
            <div class="col-sm-12">
              <!--<input [(ngModel)]="section.description" class="form-control" placeholder="Enter Description" multiple style="height: 200px">-->
              <angular-editor [(ngModel)]="section.description" [config]="editorConfig2"></angular-editor>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="content" *ngIf="section.images.length > 0" style="min-height: 0px; padding: 0px;">
    <div class="row">
      <!-- left column -->
      <div class="col-md-12">
        <!-- general form elements -->
        <div class="box box-primary">
          <div class="box-header with-border">
            <h3 class="box-title">Image Section</h3>
            <button class="btn btn-danger pull-right"><span class="glyphicon glyphicon-remove" (click)="deleteSection(section._id)"></span></button>
          </div>
          <div class="box-body">
            <div  class="col-lg-12">
              <div *ngFor="let image of section.images" class="col-sm-3">
                <img src="{{this.mainIpUrl}}/{{image}}">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
<!-- /.content -->

