
<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
    Team Member
  </h1>
  <ol class="breadcrumb">
    <li><a routerLink="/dashboard"><i class="fa fa-dashboard"></i> Home</a></li>
    <li><a routerLink="/team-member">Team Memeber</a></li>
    <li class="active">Edit</li>
  </ol>
</section>

<!-- Main content -->
<div class="loader" [hidden]="!loading"></div>

<section class="content">
  <div class="row">
    <!-- left column -->
    <div class="col-md-12">
      <!-- general form elements -->
      <div class="box box-primary">
        <div class="box-header with-border">
          <h3 class="box-title">Edit Team Member</h3>
        </div>
        <!-- /.box-header -->
        <!-- form start -->
        <form id="form-team-member" class="p-t-15" role="form" [formGroup]="form" (ngSubmit)="update()">
          <div class="box-body">
            <div class="form-group has-feedback">
              <label for="exampleInputFirstName">Name</label>
              <input type="text" formControlName="name" class="form-control" id="exampleInputFirstName" placeholder="Enter Name">
              <span class="glyphicon glyphicon-user form-control-feedback"></span>
            </div>
            <div class="form-group has-feedback">
              <label for="exampleInputLastName">Title</label>
              <input type="text" formControlName="title" class="form-control" id="exampleInputLastName" placeholder="Enter Title">
              <span class="glyphicon glyphicon-user form-control-feedback"></span>
            </div>
            <div class="form-group has-feedback">
              <label for="exampleInputMobile">Linkedin Url</label>
              <input type="text" formControlName="linkedinUrl" class="form-control" id="exampleInputMobile" placeholder="Enter Linkedin Url">
              <span class="glyphicon glyphicon-phone form-control-feedback"></span>
            </div>
            <label>Upload Photo</label>
            <div class="form-group">
              <img *ngFor='let url of urls1'  [src]="url" height="200"> <br/>
              <input type='file' (change)="onFileChanged($event, 1)" multiple>
            </div>
            <label>Upload Photo</label>
            <div class="form-group">
              <img *ngFor='let url of urls2'  [src]="url" height="200"> <br/>
              <input type='file' (change)="onFileChanged($event, 2)" multiple>
            </div>
            <div class="form-group">
              <label class="hover">
                <div class="icheckbox_flat-green hover" [ngClass]="{'checked': pinned}" aria-checked="true" aria-disabled="false" style="position: relative;"><input [checked]="pinned" (change)="pinned = !pinned" [value]='pinned' type="checkbox" class="flat-red" checked="" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins></div>
                Pin to dashboard
              </label>
            </div>
          </div>
          <!-- /.box-body -->

          <div class="box-footer">
            <button type="submit" class="btn btn-primary">Save</button>
          </div>
        </form>
      </div>
      <!-- /.box -->

    </div>
    <!--/.col (left) -->
  </div>
  <!-- /.row -->
</section>
<!-- /.content -->
