
<!-- Content Header (Page header) -->
  <section class="content-header">
    <h1>
      Events
    </h1>
    <ol class="breadcrumb">
      <li><a routerLink="/dashboard"><i class="fa fa-dashboard"></i> Home</a></li>
      <li><a routerLink="/events">Events</a></li>
      <li class="active">Create</li>
    </ol>
  </section>

  <!-- Main content -->
<div class="loader" [hidden]="!loading"></div>

  <section class="content">
    <div class="row">
      <!-- left column -->
      <div class="col-md-12">
        <!-- general form elements -->
        <div class="box box-primary">
          <div class="box-header with-border">
            <h3 class="box-title">Create New Event</h3>
          </div>
          <!-- /.box-header -->
          <!-- form start -->
          <form id="form-events" class="p-t-15" role="form" [formGroup]="form" (ngSubmit)="create()">
            <div class="box-body">
              <div class="form-group">
                <label for="exampleInputEmail1">Title</label>
                <input formControlName="title" class="form-control" id="exampleInputEmail1" placeholder="Enter Title">
              </div>
              <div class="form-group">
                <label for="exampleInputEmail1">Tags</label>
                <input formControlName="tags" class="form-control" placeholder="Enter Tags separated comma">
              </div>
              <div class="form-group">
                <label>Description</label>
                <input formControlName="description" class="form-control" placeholder="Enter Description">
                <!--<angular-editor formControlName="description" [config]="editorConfig"></angular-editor>-->
              </div>
              <div class="form-group">
                <label>Location</label>
                <input formControlName="location" class="form-control" placeholder="Enter Location">
              </div>
              <div class="form-group">
                <label>Date</label>
                <div class="input-group date">
                  <div class="input-group-addon">
                    <i class="fa fa-calendar"></i>
                  </div>
                  <input formControlName="dueDate" type="date" class="form-control pull-left" style="width: auto">
                </div>
              </div>
              <!--<div class="form-group">-->
                <!--<label>Due Date</label>-->
                <!--<input formControlName="dueDate" class="form-control" placeholder="Enter Date">-->
              <!--</div>-->
              <label>Upload Image</label>
              <div class="form-group">
                <img *ngFor='let url of urls'  [src]="url" height="200"> <br/>
                <input type='file' (change)="onFileChanged($event)" multiple>
              </div>
              <div class="form-group">
                <label>Segment</label>
                <select formControlName="segment" class="form-control">
                  <option [value]="segment.code" *ngFor="let segment of segments">
                    {{segment.color}}</option>
                </select>
              </div>
              <div class="form-group">
                <label class="hover">
                  <div class="icheckbox_flat-green hover" [ngClass]="{'checked': pinned}" aria-checked="true" aria-disabled="false" style="position: relative;"><input [checked]="pinned" (change)="pinned = !pinned" [value]='pinned' type="checkbox" class="flat-red" checked="" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins></div>
                  Pin to dashboard
                </label>
              </div>
              <div class="form-group">
                <label class="hover">
                  <div class="icheckbox_flat-green hover" [ngClass]="{'checked': is_active}" aria-checked="true" aria-disabled="false" style="position: relative;"><input [checked]="is_active" (change)="is_active = !is_active" [value]='is_active' type="checkbox" class="flat-red" checked="" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins></div>
                  Active
                </label>
              </div>
            </div>
            <!-- /.box-body -->

            <div class="box-footer">
              <button type="submit" class="btn btn-primary test">Save</button>
            </div>
          </form>
        </div>
        <!-- /.box -->

      </div>
      <!--/.col (left) -->
    </div>
    <!-- /.row -->
    </section>
  <!-- /.content -->
