<aside class="main-sidebar">
  <!-- sidebar: style can be found in sidebar.less -->
  <section class="sidebar" style="height: auto;">
    <!-- Sidebar users panel -->
    <div class="user-panel">
      <div class="pull-left image">
        <img src="{{image}}" class="img-circle" alt="User Image">
      </div>
    </div>
    <!-- search form -->
    <!-- /.search form -->
    <!-- sidebar menu: : style can be found in sidebar.less -->
    <ul class="sidebar-menu tree" data-widget="tree">
      <li class="header">MAIN NAVIGATION</li>
      <li class="active treeview menu-open">
        <a routerLink="/dashboard">
          <i class="fa fa-dashboard"></i> <span>Dashboard</span>
        </a>
      </li>
      <li class="treeview" *ngIf= roles[0].checked>
        <a routerLink="/programs">
          <i class="fa fa-files-o"></i>
          <span>Programs</span>
        </a>
      </li>
      <li class="treeview" *ngIf= roles[6].checked>
        <a routerLink="/services">
          <i class="fa fa-th"></i>
          <span>Services</span>
        </a>
      </li>
      <li class="treeview" *ngIf= roles[3].checked>
        <a routerLink="/events">
          <i class="fa fa-pie-chart"></i>
          <span>Events</span>
        </a>
      </li>
      <li class="treeview" *ngIf= roles[1].checked>
        <a routerLink="/news">
          <i class="fa fa-laptop"></i>
          <span>News</span>
        </a>
      </li>
      <li class="treeview" *ngIf= roles[2].checked>
        <a routerLink="/jobs">
          <i class="fa fa-edit"></i>
          <span>Jobs</span>
        </a>
      </li>
      <li class="treeview" *ngIf= roles[4].checked>
        <a routerLink="/staff">
          <i class="fa fa-table"></i>
          <span>Staff</span>
        </a>
      </li>
      <li class="treeview" *ngIf= roles[8].checked>
        <a routerLink="/team-member">
          <i class="fa fa-table"></i>
          <span>Team Member</span>
        </a>
      </li>
      <li class="treeview" *ngIf= roles[7].checked>
        <a routerLink="/partners">
          <i class="fa fa-table"></i>
          <span>Partners</span>
        </a>
      </li>
      <li class="treeview"  *ngIf= roles[5].checked>
        <a routerLink="/users">
          <i class="fa fa-calendar"></i>
          <span>Users</span>
        </a>
      </li>
      <li class="treeview"  *ngIf= roles[9].checked>
        <a routerLink="/contents">
          <i class="fa fa-calendar"></i>
          <span>Contents</span>
        </a>
      </li>
      <li class="treeview" *ngIf= roles[10].checked>
        <a>
          <i class="fa fa-edit"></i> <span>Applications</span>
          <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu">
          <li><a routerLink="/programs/applications"><i class="fa fa-circle-o"></i> Programs</a></li>
          <li><a routerLink="/events/applications"><i class="fa fa-circle-o"></i> Events</a></li>
          <li><a routerLink="/jobs/applications"><i class="fa fa-circle-o"></i> Jobs</a></li>
        </ul>
      </li>
    </ul>
  </section>
  <!-- /.sidebar -->
</aside>
