<style>
  .btn {
    background-color: DodgerBlue; /* Blue background */
    border: none; /* Remove borders */
    color: white; /* White text */
    font-size: 10px; /* Set a font size */
    cursor: pointer; /* Mouse pointer on hover */
  }

  /* Darker background on mouse-over */
  .btn:hover {
    background-color: RoyalBlue;
  }
</style>
<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
    Jobs Applications
  </h1>
  <ol class="breadcrumb">
    <li><a routerLink="/dashboard"><i class="fa fa-dashboard"></i> Home</a></li>
    <li><a routerLink="/jobs/applications">Jobs Applications</a></li>
  </ol>
</section>

<!-- Main content -->
<div class="loader" [hidden]="!loading"></div>
<section class="content">
  <!-- /.row -->
  <div class="row">
    <div class="col-xs-12">
      <div class="box">
        <div class="box-header">
          <h3 class="box-title"></h3>

          <div class="box-tools">
            <div class="input-group input-group-sm" style="width: 150px;">
              <!--<input (ngModelChange)="filter($event)" [(ngModel)]="nameFilter"  type="text" name="table_search" class="form-control pull-right" placeholder="Search">-->
            </div>
          </div>
        </div>
        <!-- /.box-header -->
        <div class="box-body table-responsive no-padding">
          <table class="table table-hover">
            <thead>
            <tr>
              <th>
                <input (ngModelChange)="filterByEmail($event)" [(ngModel)]="nameFilter"  type="text" name="table_search" class="form-control pull-right" placeholder="Search">
              </th>
              <th>
                <select (ngModelChange)="filterByJob($event)" [(ngModel)]="job" class="form-control">
                  <option [value]="job.title" *ngFor="let job of jobs">
                    {{job.title}}</option>
                </select>
              </th>
              <th>
                <select (ngModelChange)="filterByStatus($event)" [(ngModel)]="status" class="form-control">
                  <option [value]="status" *ngFor="let status of statusList">
                    {{status}}</option>
                </select>
              </th>
              <th></th>
              <th></th>
              <th></th>
              <th></th>
              <th><strong>Total:</strong>{{totalPages}}</th>
            </tr>
            <tr>
              <th>Email</th>
              <th>Name</th>
              <th>Mobile</th>
              <th>Job</th>
              <th>Status</th>
              <th>Grade</th>
              <th> IV Grade</th>
              <th>Created At</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let application of jobApplications | paginate: {itemsPerPage: this.limit, currentPage: this.pageNo, totalItems: this.totalPages}" class="gradeX odd content-table-payment cursor" role="row">
              <td class="mn-130 sorting_1">{{application.user.email}}</td>
              <td class="mn-130 sorting_1">{{application.user.first_name}}</td>
              <td class="mn-130 sorting_1">{{application.user.mobile}}</td>
              <td class="mn-130 sorting_1">{{application.job.title}}</td>
              <td class="mn-120 sorting_1">
                  <span *ngIf="application.status === 'submitted'"
                        class="label label-info upper-case">Submitted</span>
                <span *ngIf="application.status === 'in-review'"
                        class="label label-info upper-case">In Review</span>
                <span *ngIf="application.status === 'accepted'"
                      class="label label-success upper-case">Accepted</span>
                <span *ngIf="application.status === 'app-rejected' || application.status === 'iv-rejected'"
                      class="label label-danger upper-case">Rejected</span>
                <span *ngIf="application.status === 'invited'"
                      class="label label-warning upper-case">Invite</span>
              </td>
              <td class="mn-130 sorting_1">{{application.grade}}</td>
              <td class="mn-130 sorting_1">{{application.grade_interview}}</td>
              <td class="mn-130 sorting_1">{{application.created_at | date:'dd/MM/yyyy @ hh:mm'}}</td>
              <td>
                <button class="btn" routerLink='/jobs/{{application.job._id}}/applications/{{application._id}}'><i class="fa fa-edit"></i></button>
                <button class="btn" (click)="delete(application.job._id, application._id)"><i class="fa fa-trash"></i></button>
              </td>
            </tr>
            </tbody>
            <pagination-controls (pageChange)="pageChanged($event)"></pagination-controls>
          </table>
        </div>
        <!-- /.box-body -->
      </div>
      <!-- /.box -->
    </div>
  </div>
</section>
<!-- /.content -->
