<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
    Event Question
  </h1>
  <ol class="breadcrumb">
    <li><a routerLink="/dashboard"><i class="fa fa-dashboard"></i> Home</a></li>
    <li><a routerLink="/events/{{this.eventId}}">Events</a></li>
    <li class="active">Create Question</li>
  </ol>
</section>

<!-- Main content -->
<div class="loader" [hidden]="!loading"></div>
<section class="content">
  <div class="row">
    <!-- left column -->
    <div class="col-md-12">
      <!-- general form elements -->
      <div class="box box-primary">
        <div class="box-header with-border">
          <h3 class="box-title">Add Event Question</h3>
          <button id="addAnswerBtn" class="btn btn-primary pull-right" (click)="AddNewAnswer()" disabled><span class="glyphicon glyphicon-plus"></span>Add Answer</button>
          <button id="removeAnswerBtn" class="btn btn-danger pull-right" id="removeAnswerBtn" (click)="RemoveAnswer()" disabled><span class="glyphicon glyphicon-minus"></span>Remove Answer</button>
        </div>
        <!-- /.box-header -->
        <!-- form start -->
        <form id="form-programs-application" class="p-t-15" role="form" [formGroup]="form" (ngSubmit)="create()">
          <div class="box-body">
            <div class="form-group">
              <label for="questionInput">Question</label>
              <input formControlName="question" class="form-control" id="questionInput" placeholder="Enter Question">
            </div>
            <div id="questionAnswers">
              <label id="answerLbl" hidden="hidden">Answer</label>
              <!--<input class="form-control" id="answer1" placeholder="Enter Answer">-->
            </div>
            <div class="form-group">
              <label>Type</label>
              <select formControlName="type" class="form-control" (change)="onSelectType(type)">
                <option [value]="type" *ngFor="let type of types">
                  {{type}}</option>
              </select>
            </div>
          </div>
          <!-- /.box-body -->

          <div class="box-footer">
            <button type="submit" class="btn btn-primary">Save</button>
          </div>
        </form>
      </div>
      <!-- /.box -->

    </div>
    <!--/.col (left) -->
  </div>
  <!-- /.row -->
</section>
<!-- /.content -->

<style>
  .btn {
    border: none; /* Remove borders */
    color: white; /* White text */
    font-size: 10px; /* Set a font size */
    cursor: pointer; /* Mouse pointer on hover */
  }
</style>
<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
    Questions
  </h1>
</section>

<!-- Main content -->
<section class="content">
  <!-- /.row -->
  <div class="row">
    <div class="col-xs-12">
      <div class="box">
        <div class="box-header">
          <h3 class="box-title"></h3>

          <div class="box-tools">
            <div class="input-group input-group-sm" style="width: 150px;">
              <input type="text" name="table_search" class="form-control pull-right" placeholder="Search">

              <div class="input-group-btn">
                <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
              </div>
            </div>
          </div>
        </div>
        <!-- /.box-header -->
        <div class="box-body table-responsive no-padding">
          <table class="table table-hover">
            <thead>
            <tr>
              <th>Question</th>
              <th># Answers</th>
              <th>Type</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let question of questions" class="gradeX odd content-table-payment cursor" role="row">
              <td class="mn-130 sorting_1">{{question.question}}</td>
              <td class="mn-130 sorting_1">{{question.answers.length}}</td>
              <td class="mn-130 sorting_1">{{question.type}}</td>
              <td>
                <button class="btn" (click)="delete(this.eventId, question._id)"><i class="fa fa-trash"></i></button>
              </td>
            </tr>
            </tbody></table>
        </div>
        <!-- /.box-body -->
      </div>
      <!-- /.box -->
    </div>
  </div>
</section>
<!-- /.content -->

