<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
    Program Application
  </h1>
  <ol class="breadcrumb">
    <li><a routerLink="/dashboard"><i class="fa fa-dashboard"></i> Home</a></li>
    <li><a routerLink="/programs">Programs</a></li>
    <li><a routerLink="/programs/applications">Applications</a></li>
    <li class="active">Application</li>
  </ol>
</section>

<!-- Main content -->
<div class="loader" [hidden]="!loading"></div>
<section class="content">
  <div class="row">
    <!-- left column -->
    <div class="col-md-12">
      <!-- general form elements -->
      <div class="box box-primary">
        <div class="box-header with-border">
          <h3 class="box-title">Update Application</h3>
        </div>
        <!-- /.box-header -->
        <!-- form start -->
        <form id="form-programs" class="p-t-15" role="form" [formGroup]="form">
          <div class="box-body">
            <div class="form-group has-feedback">
              <label for="exampleInputEmail1">Email</label>
              <input disabled type="email" [value]="this.email" class="form-control" id="exampleInputEmail1" placeholder="Enter Email">
            </div>
            <div class="form-group has-feedback">
              <label for="exampleInputFirstName">First Name</label>
              <input disabled type="text" [value]="this.name" class="form-control" id="exampleInputFirstName" placeholder="Enter First Name">
            </div>
            <div class="form-group has-feedback">
              <label for="exampleInputMobile">Mobile</label>
              <input disabled type="text" [value]="this.mobile" class="form-control" id="exampleInputMobile" placeholder="Enter Mobile">
            </div>
            <div *ngFor="let qa of programApplicationQA; let i= index;">
              <div class="form-group">
              <label class="col-lg-6">Question #{{i + 1}}</label>
              <input disabled class="form-control col-lg-6" [value]="qa.question">
              <label class="col-lg-6">Answer #{{i + 1}}</label>
              <textarea disabled class="form-control col-lg-6" *ngIf="qa.answer && !qa.answer.includes('data')" [innerHTML]="decode_inside(qa.answer)"></textarea>
              <div class="form-group pull-left">
              <a class="btn btn-success download_btn" [attr.href]="sanitizer.bypassSecurityTrustResourceUrl(qa.answer)" download="{{this.name}}" *ngIf="qa.answer && (qa.answer.includes('data:') || qa.answer.includes('images'))">
                <!--<input type="file" accept=".pdf|image/*" [value]="qa.answer">-->
                <!-- <img src="{{qa.answer}}"> -->
                Download
              </a>
              </div>
              <div class="form-group pull-left">
                <embed [src]="sanitizer.bypassSecurityTrustResourceUrl(qa.answer)" width="500" height="375" accept="application/pdf" *ngIf="qa.answer && qa.answer.includes('data:')">
              </div>
              </div>
              <!--*ngIf="qa.answer.split('.').pop() === 'pdf'"-->
            </div>
          </div>

          <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-5">
              <button class="btn btn-success" (click)="downloadPdf()" >Download as Excel </button>  
            </div>
          </div> 
          <!-- /.box-body -->

          <div class="box-footer">
            <button type="button" class="btn btn-danger pull-right margin-r-5" (click)="update(programId, applicationId, 'app-rejected')">Reject Application</button>
            <button type="button" class="btn btn-danger pull-right margin-r-5" (click)="update(programId, applicationId, 'iv-rejected')">Reject Interview </button>
            <button type="button" class="btn btn-warning pull-right margin-r-5" (click)="update(programId, applicationId, 'in-review')">Review</button>
            <button type="button" class="btn btn-success pull-right margin-r-5" (click)="update(programId, applicationId, 'accepted')">Accepted</button>
          </div>
        </form>
      </div>
      <!-- /.box -->

    </div>
    <!--/.col (left) -->
  </div>
  <!-- /.row -->
</section>
<section class="content">
  <div class="row">
    <!-- left column -->
    <div class="col-md-12">
      <!-- general form elements -->
      <div class="box box-primary">
        <!-- form start -->
        <form id="form-programs-link" class="p-t-15" role="form" [formGroup]="form" (ngSubmit)="update(programId, applicationId, 'invited')" ngNativeValidate>
          <div class="box-body">
            <div class="form-group">
              <label for="exampleInputEmail1">Link</label>
              <input formControlName="link" class="form-control" id="link" placeholder="Enter Link" required>
            </div>
          </div>
          <!-- /.box-body -->

          <div class="box-footer">
            <button type="submit" class="btn btn-warning pull-right margin-r-5">Invite</button>
          </div>
        </form>
      </div>
      <!-- /.box -->

    </div>
    <!--/.col (left) -->
  </div>
  <!-- /.row -->
</section>
<section class="content">
  <div class="row">
    <!-- left column -->
    <div class="col-md-12">
      <!-- general form elements -->
      <div class="box box-primary">
        <!-- form start -->
        <form id="form-programs-comment" class="p-t-15" role="form" [formGroup]="form">
          <div class="box-body">
            <div class="form-group">
              <label for="exampleInputEmail1">Comment</label>
              <input formControlName="response" class="form-control" id="comment" placeholder="Enter Response">
            </div>
            <div class="form-group">
              <label for="exampleInputEmail1">Link</label>
              <input formControlName="link" class="form-control" id="link" placeholder="Enter Link">
            </div>
            <div class="form-group">
              <label for="grade">Grade</label>
              <input formControlName="grade" class="form-control" id="grade" placeholder="Enter grade">
            </div>
            <div class="form-group">
              <label for="interviewGrade">Interview Grade</label>
              <input formControlName="grade_interview" class="form-control" id="interviewGrade" placeholder="Enter grade">
            </div>
          </div>
          <!-- /.box-body -->

          <div class="box-footer">
            <button type="button" class="btn btn-primary pull-right margin-r-5" (click)="update(programId, applicationId, status)">Save</button>
          </div>
        </form>
      </div>
      <!-- /.box -->

    </div>
    <!--/.col (left) -->
  </div>
  <!-- /.row -->
</section>
<!-- /.content -->
