<body   class="sidebar-mini skin-green-light">
<div class="wrapper" style="height: auto; min-height: 100%;">
  <app-sidenavbar></app-sidenavbar>
  <app-topnavbar></app-topnavbar>
  <div class="content-wrapper" style="min-height: 990px;">
  <router-outlet></router-outlet>
  </div>
  <app-footernavbar></app-footernavbar>
</div>
</body>
