
<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
    User
  </h1>
  <ol class="breadcrumb">
    <li><a routerLink="/dashboard"><i class="fa fa-dashboard"></i> Home</a></li>
    <li><a routerLink="/users">User</a></li>
    <li class="active">Create</li>
  </ol>
</section>

<!-- Main content -->
<div class="loader" [hidden]="!loading"></div>

<section class="content">
  <div class="row">
    <!-- left column -->
    <div class="col-md-12">
      <!-- general form elements -->
      <div class="box box-primary">
        <div class="box-header with-border">
          <h3 class="box-title">Create New User</h3>
        </div>
        <!-- /.box-header -->
        <!-- form start -->
        <form id="form-jobs" class="p-t-15" role="form" [formGroup]="form" (ngSubmit)="create()">
          <div class="box-body">
            <div class="form-group has-feedback">
              <label for="exampleInputEmail1">Email</label>
              <input type="email" formControlName="email" class="form-control" id="exampleInputEmail1" placeholder="Enter Email">
              <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
            </div>
            <div class="form-group has-feedback">
              <label for="exampleInputPassword">Password</label>
              <input type="password" formControlName="password" class="form-control" id="exampleInputPassword" placeholder="Enter Password">
              <span class="glyphicon glyphicon-lock form-control-feedback"></span>
            </div>
            <div class="form-group has-feedback">
              <label for="exampleInputFirstName">First Name</label>
              <input type="text" formControlName="first_name" class="form-control" id="exampleInputFirstName" placeholder="Enter First Name">
              <span class="glyphicon glyphicon-user form-control-feedback"></span>
            </div>
            <div class="form-group has-feedback">
              <label for="exampleInputLastName">Last Name</label>
              <input type="text" formControlName="last_name" class="form-control" id="exampleInputLastName" placeholder="Enter Last Name">
              <span class="glyphicon glyphicon-user form-control-feedback"></span>
            </div>
            <div class="form-group has-feedback">
              <label for="exampleInputMobile">Mobile</label>
              <input type="text" formControlName="mobile" class="form-control" id="exampleInputMobile" placeholder="Enter Mobile">
              <span class="glyphicon glyphicon-phone form-control-feedback"></span>
            </div>
            <div class="form-group">
              <label>Gender</label>
              <select formControlName="gender" class="form-control">
                <option [value]="gender" *ngFor="let gender of genders">
                  {{gender}}</option>
              </select>
            </div>
            <div class="form-group">
              <label>Date of Birth</label>
              <div class="input-group date">
                <div class="input-group-addon">
                  <i class="fa fa-calendar"></i>
                </div>
                <input formControlName="date_of_birth" type="text" class="form-control pull-right" id="datepicker">
              </div>
            </div>
            <div class="form-group has-feedback">
              <label for="exampleInputMobile">Residence Address</label>
              <input type="text" formControlName="residence_address" class="form-control" placeholder="Enter Address">
              <span class="glyphicon glyphicon-phone form-control-feedback"></span>
            </div>
            <div class="form-group has-feedback">
              <label for="exampleInputMobile">Gradution Status</label>
              <input type="text" formControlName="graduation_status" class="form-control" placeholder="Enter Status">
              <span class="glyphicon glyphicon-phone form-control-feedback"></span>
            </div>
            <div class="form-group has-feedback">
              <label for="exampleInputMobile">Organizations</label>
              <input type="text" formControlName="organization" class="form-control" placeholder="Enter organization">
              <span class="glyphicon glyphicon-phone form-control-feedback"></span>
            </div>
            <label>Upload Image</label>
            <div class="form-group">
              <img *ngFor='let url of urls'  [src]="url" height="200"> <br/>
              <input type='file' (change)="onFileChanged($event)" multiple>
            </div>
            <div class="form-group">
              <label class="hover">
                <div class="icheckbox_flat-green hover" [ngClass]="{'checked': is_active}" aria-checked="true" aria-disabled="false" style="position: relative;"><input [checked]="is_active" (change)="is_active = !is_active" [value]='is_active' type="checkbox" class="flat-red" checked="" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins></div>
                Active
              </label>
            </div>
          </div>
          <!-- /.box-body -->

          <div class="box-footer">
            <button type="submit" class="btn btn-primary">Save</button>
          </div>
        </form>
      </div>
      <!-- /.box -->

    </div>
    <!--/.col (left) -->
  </div>
  <!-- /.row -->
</section>
<!-- /.content -->
